@{Layout = "~/Views/Shared/_Layout.cshtml";}
@model List<IAUECProfessorsEvaluation.Data.ReportModel.GroupReportModel>
@using GridMvc.Html
<style>
    .searchRow {
        border-bottom: 1px solid #ccc;
        background: #ddd;
        margin-left: -20px;
        margin-right: -20px;
        min-height: 70px;
    }

        .searchRow .form-group {
            margin-bottom: 0;
            margin-top: 8px;
        }

        .searchRow .control-label {
            line-height: 36px;
            font-size: 16px;
        }

    .tile_count .tile_stats_count .count.CollegeName {
        font-size: 22px;
    }
</style>
<div class="row searchRow">
    <div class="col-sm-12">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <span style="display: inline-block; padding: 0 0 10px;">
                        تاریخ آخرین بروزرسانی: @ViewBag.LastUpdate
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1">
                    <span class="control-label">ترم: </span>
                </div>
                <div class="col-sm-2">
                    @Html.DropDownList("TermList", (SelectList)ViewBag.TermList, "انتخاب کنید", new { @class = "form-control" })
                </div>
                <div class="col-sm-1">
                    <a href="/" id="showResult" class="btn btn-info"><i class="fa fa-search"></i> نمایش</a>
                </div>
            </div>
        </div>
    </div>
</div>
@if (Model != null)
{
    if (Model.Count > 0)
    {
        <div class="row tileTitle">
            <div class="col-sm-12">
                <h3>گروه های برتر دانشگاه</h3>
            </div>
        </div>
    }
    <div class="row tile_count">
        @if (Model.Count > 0)
        {
            <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"><i class="fa fa-user"></i> رتبه اول</span>
                <div class="count green">گروه @Model.ElementAt(0).GroupName</div>
                <div class="count CollegeName green">دانشکده @Model.ElementAt(0).CollegeName</div>
            </div>
        }
        @if (Model.Count > 1)
        {
            <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"><i class="fa fa-user"></i> رتبه دوم</span>
                <div class="count green">گروه @Model.ElementAt(1).GroupName</div>
                <div class="count CollegeName green">دانشکده @Model.ElementAt(1).CollegeName</div>
            </div>
        }
        @if (Model.Count > 2)
        {
            <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"><i class="fa fa-user"></i> رتبه سوم</span>
                <div class="count green">گروه @Model.ElementAt(2).GroupName</div>
                <div class="count CollegeName green">دانشکده @Model.ElementAt(2).CollegeName</div>
            </div>
        }
    </div>

    <div class="row">
        <div class="col-sm-12">
            @(Html
    .Grid(Model)
    .Columns(columns =>
    {
        columns.Add(model => model.RowNumber).Titled("رتبه").SetWidth("10%").Filterable(true).Sortable(true);
        columns.Add(model => model.GroupCode).Titled("کد گروه").SetWidth("10%").Filterable(true).Sortable(true);
        columns.Add(model => model.GroupName).Titled("نام").SetWidth("30%").Filterable(true).Sortable(true);
        columns.Add(model => model.GroupScore).Titled("امتیاز فعلی").SetWidth("25%").Filterable(true).Sortable(true);
        columns.Add(model => model.GroupId).Titled("عملیات").SetWidth("25%").Filterable(false)
            .Encoded(false).Sanitized(false)
            .RenderValueAs(o => "<a id=\"ViewRankDetails\" href=\"/\" class=\"btn btn-info\" data-id=\"" + o.GroupId + "\"><i class=\"fa fa-info\"></i> مشاهده جزئیات</a>");
    })
    .WithMultipleFilters()
    .WithPaging(20)
    .EmptyText("موردی جهت نمایش یافت نشد.")
    .SetLanguage("fa")
            )
        </div>
        <div id="dialog"></div>
    </div>
}

<script>
    $(function () {
        $(document).on('click', '#ViewRankDetails', function (e) {
            e.preventDefault();
            //var href = "/EducationalGroup/ViewGroupRankInUniversityDetails/" + $(this).data("id");
            //$('#dialog').dialog({
            //    modal: true,
            //    open: function (event, ui) {
            //        $(this).load(href, function (result) { });
            //        return false;
            //    },
            //    width: 768,
            //    maxHeight: 600,
            //    minHeight: 300,
            //    position: { my: 'center top', at: 'center top' },
            //    close: function (event, ui) { $('#dialog').html("") }
            //});
            $.ajax({
                url: '@Url.Action("ViewGroupRankInUniversityDetails", "EducationalGroup")',
                type: 'Get',
                data: { 'id': $(this).data("id"), 'termId': $('#TermList').val() },
                success: function (data) {
                    $("#dialog").html(data);
                    $('#dialog').dialog({
                        modal: true,
                        width: 768,
                        maxHeight: 600,
                        minHeight: 300,
                        position: { my: 'center top', at: 'center top' },
                        close: function (event, ui) {
                            $('#dialog').html("")
                        }
                    });
                }
            });

            return false;
        });


        $(document).on('click', '#showResult', function (e) {
            e.preventDefault();
            $('.loadingWrapper').show();
            var ddlTerm = document.getElementById("TermList");
            var termId = ddlTerm.options[ddlTerm.selectedIndex].value;
            if (termId != '')
                window.location.href = '/EducationalGroup/RankOfEducationalGroupInUniversity/?term=' + termId;
        });

        /////////////
        function getUrlVars() {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }
        if (getUrlVars().length > 0) {
            var term = getUrlVars()["term"];
            $('#TermList').val(term);
        }
        /////////////
    });
</script>

