<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    @RenderSection("metaTags", required: false)
    <link rel="icon" href="/favicon.ico?v=2">
    @Styles.Render("~/Content/css/bootstrap.min.css")
    @Styles.Render("~/Content/css/bootstrap-rtl.min.css")
    @Styles.Render("~/Content/themes/base/jquery-ui.min.css")
    @Styles.Render("~/Content/css/font-awesome.min.css")
    @Styles.Render("~/Content/css/nprogress.css")
    @Styles.Render("~/Content/css/bootstrap-progressbar-3.3.4.min.css")
    @Styles.Render("~/Content/css/green.css")
    @Styles.Render("~/Content/css/daterangepicker.css")
    @Styles.Render("~/Content/css/custom.min.css")
    @Styles.Render("~/Content/Gridmvc.css")
    
    
    @Styles.Render("~/Content/kendo/css")

    @RenderSection("styles", required: false)


    @Scripts.Render("~/Content/js/jquery.min.js")
    @Scripts.Render("~/Content/js/bootstrap.min.js")
    @Scripts.Render("~/Scripts/jquery-ui-1.12.1.min.js")
    @*@Scripts.Render("~/Scripts/gridmvc.min.js")
    @Scripts.Render("~/Scripts/gridmvc.lang.fa.js")*@
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/kendo/jszip.min.js"></script>

    @Scripts.Render("~/bundles/kendo")

    @RenderSection("topScripts", required: false)
    <title>سامانه رتبه بندی اساتید، گروه ها و دانشکده ها | @ViewBag.Title</title>
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col hidden-print">
                <div class="left_col scroll-view">
                    @{Html.RenderPartial("_RightMenu"); }
                </div>
            </div>
            @{Html.RenderPartial("_Header"); }
            <div class="right_col" role="main">
                @RenderBody()
            </div>
        </div>
    </div>

    <div class="loadingWrapper">
        <div class="loadingBox">
            <span>درحال بارگذاری ...</span>
        </div>
    </div>

    <div id="snackbar"></div>
    @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
    @Scripts.Render("~/Content/js/fastclick.js")
    @Scripts.Render("~/Content/js/nprogress.js")
    @Scripts.Render("~/Content/js/bootstrap-progressbar.min.js")
    @Scripts.Render("~/Content/js/icheck.min.js")
    @Scripts.Render("~/Content/js/moment.min.js")


    @RenderSection("bottomScripts", required: false)
    @Scripts.Render("~/Content/js/custom2.js")
</body>
</html>
