@{Layout = "~/Views/Shared/_Layout.cshtml";}
@model List<IAUECProfessorsEvaluation.Web.Models.Mapping>
@using GridMvc.Html

@{
    string dropdown = "<select class=\"form-control levelList\"><option value=\"-1\">انتخاب کنید</option>";
    foreach (var item in (List<IAUECProfessorsEvaluation.Model.Models.Score>)ViewBag.Scores)
    {
        dropdown += "<option value=\"" + item.Id + "\">" + item.Name + "</option>";
    }
    dropdown += "</select>";
}

<link rel="stylesheet" href="~/Content/css/starrr.css">
<style type='text/css'>
    .tooltip {
        opacity: 0.7;
        background: #000;
    }

    .tooltip-inner {
        padding: 3px 5px;
    }

    .ui-tooltip, .arrow:after {
        background: black;
        border: 1px solid white;
    }

    .ui-tooltip {
        padding: 10px 20px;
        color: white;
        border-radius: 5px;
        box-shadow: 0 0 7px black;
    }

    .levelList {
        display: inline-block;
        width: 80%;
    }
</style>
<script src="~/Content/js/popper.min.js"></script>
<script src="~/Content/js/starrr.js"></script>

<div class="row">
    <div class="col-sm-12">
        @(Html
    .Grid(Model)
    .Columns(columns =>
    {
        columns.Add(model => model.TypeName).Titled("عنوان دانشگاه").SetWidth("15%").Filterable(true).Sortable(true);
        columns.Add(model => model.TypeId).Titled("شناسه دانشگاه").SetWidth("15%").Filterable(true).Sortable(false);
        //columns.Add(model => model.Score.Point).Titled("امتیاز فعلی").SetWidth("15%").Filterable(true).Sortable(true);
        columns.Add(model => model.Id).Titled("عملیات").SetWidth("20%").Filterable(false)
            .Encoded(false).Sanitized(false)
            .RenderValueAs(o => dropdown + "<a href=\"/\" class=\"btn btn-success saveLevel\" data-id=\"" + o.TypeId + "\">ثبت</a>");
    })
    .WithMultipleFilters()
    .WithPaging(20)
    .EmptyText("موردی جهت نمایش یافت نشد.")
    .SetLanguage("fa")
    .Selectable(false)
        )
    </div>
</div>

<script>
    $(function () {
        $('.levelList').each(function () {
            var list = $(this);
            $.ajax({
                url: '/Pages/GetCurrentUniversityLevel',
                type: 'POST',
                data: { id: $(this).parent().find('.saveLevel').data('id') },
                success : function(val){
                    list.val(val);
                }
            });
        });

        $('.saveLevel').click(function (e) {
            e.preventDefault();
            $.ajax({
                url: '/Pages/SetUniversityLevel',
                type: 'POST',
                data: { id: $(this).data('id'), scoreId: $(this).parent().find('.levelList').val() },
                success: function (val) {
                    $('#snackbar').attr('class', 'show alert alert-success');
                    $('#snackbar').html('سطح دانشگاه با موفقیت ذخیره شد.');
                    setTimeout(function () { $('#snackbar').attr('class', ''); }, 3000);
                }
            });
            return false;
        });

    });
</script>

@*<script>

            $(function () {
                if(@ViewBag.Scores.Count > 0){
                    @foreach (var item in Model)
            {
                var id = "#star" + item.Id;
          <text>
                    var itemsCount = 0;
                    var modelCount = @Model.Count();
                    $.ajax({
                        url: '/Pages/GetCurrentStar',
                        type: 'POST',
                        data: { currentRateData: @(item.CurrentScore == 0 ? 0 : item.CurrentScore), indicatorName: 'رتبه دانشگاه محل تحصیل'},
                        success : function(val){
                            $('@id').starrr({
                                max: @ViewBag.Scores.Count,
                                rating: val
                            });
                            itemsCount++;
                            if(itemsCount === modelCount)
                            {
                                $('.starrr').each(function (i) {
                                    $(this).find('a').each(function (ii, el) {
                                        $(this).attr('title', scores[scores.length - ii - 1])
                                    });
                                });
                            }

                        }
                    });
                    </text>
            }
                }

                $('.starrr').on('starrr:change', function(e, value){
                    e.preventDefault();
                    var gc = $(e.target).parent().parent().find('td:nth-child(1)').html();
                    $.ajax({
                        url: '/EducationalGroup/AddOrUpdateInTimePresent',
                        type: 'POST',
                        data: { groupData: gc, rateIndex: value, indicatorName: 'ارائه برنامه درسی توسط مدیر گروه در موعد مقرر'},
                        success: function (result) {
                            $(e.target).parent().parent().find('td:nth-child(4)').html(result);
                        }
                    });
                });



                $('body').tooltip({
                    selector: '.starrr, .resetScore',
                    track: true,
                    position: {
                        my: "center bottom-20",
                        at: "center bottom"
                    }
                });


                var scores = [];
                @foreach (var item in ViewBag.Scores)
            {
                <text>
                scores.push('@item.Name');
                </text>
            }

                $('.resetScore').click(function(e){
                    e.preventDefault();
                    $.ajax({
                        url: '/EducationalGroup/DeleteInTimePresent',
                        type: 'POST',
                        data: {code: $(this).data("code")},
                        success: function(result){
                            window.location.href = '/EducationalGroup/InTimePresentCurriculum'
                        }
                    });
                });
            });
    </script>*@