@model IEnumerable<IAUECProfessorsEvaluation.Web.Models.EvaluationQuestionModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .row {
        margin-bottom: 5px;
    }

    .form-control {
        border-radius: 4px;
    }
</style>
<style>
    .row-search div {
        float: right;
    }

    .btnAdd {
        width: 30px;
        height: 30px;
        border-radius: 100%;
        margin: 15px !important;
        background: #82c8a0;
        list-style-type: disc;
        border: none;
    }

    .btnDelete {
        width: 30px;
        height: 30px;
        border-radius: 100%;
        margin: 15px !important;
        background: #82c8a0;
        list-style-type: disc;
        border: none;
    }

    .fa-times {
        display: none;
        cursor: pointer;
    }

    .row-search:hover .fa-times {
        display: inline-block;
    }

    .container-and-value {
        display: none;
    }

    .container-or-value {
        padding-top: 25px;
        display: none;
    }

    .container-and-value {
        padding-top: 25px;
        display: none;
    }

    .container-or-value input {
        display: inline-block;
    }

    .container-and-value input {
        display: inline-block;
    }



    .container-date-or-value {
        padding-top: 25px;
        display: none;
    }

    .container-date-and-value {
        padding-top: 25px;
        display: none;
    }

    .container-date-value {
        display: none;
    }

    .container-date-or-value input {
        display: inline-block;
    }

    .container-date-and-value input {
        display: inline-block;
    }

    .container-search-result {
        display: none;
    }

    .date-time {
        display: none;
    }
</style>
<style>
    /*Page styles*/
    html {
        height: 100%;
    }

    body {
        height: 100%;
        margin: 0;
        background: #363636;
        display: -webkit-flex;
        display: flex;
        align-items: center;
    }

    .boxes {
        margin: auto;
        padding: 50px;
        background: #484848;
    }

    /*Checkboxes styles*/
    input[type="checkbox"] {
        display: none;
    }

        input[type="checkbox"] + label {
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 20px;
            font: 14px/20px 'Open Sans', Arial, sans-serif;
            color: #ddd;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
        }

            input[type="checkbox"] + label:last-child {
                margin-bottom: 0;
            }

            input[type="checkbox"] + label:before {
                content: '';
                display: block;
                width: 20px;
                height: 20px;
                border: 1px solid #6cc0e5;
                position: absolute;
                left: 0;
                top: 0;
                opacity: .6;
                -webkit-transition: all .12s, border-color .08s;
                transition: all .12s, border-color .08s;
            }

        input[type="checkbox"]:checked + label:before {
            width: 10px;
            top: -5px;
            left: 5px;
            border-radius: 0;
            opacity: 1;
            border-top-color: transparent;
            border-left-color: transparent;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }
</style>

<div class="panel panel-primary">
    <div class="panel-heading">ایجاد زیر سوال جدید</div>
    <div class="panel-body">
        <div class="row">
            <label>متن سوال :</label>
            @(ViewBag.QuestionTitle)
        </div>
        <input type="hidden" value="@(ViewBag.TermId)" id="termId" />
        <input type="hidden" value="@(ViewBag.QuestionId)" id="questionId" />
        <input type="hidden" value="@(ViewBag.TypeId)" id="typeId" />
        <input type="hidden" value="@(ViewBag.ChartId)" id="chartId" />
        <div class="container-answer">
            @foreach (var item in Model)
            {
                <div class="row row-search">
                    <div class="col-lg-9 col-md-9 col-xs-9" style="margin-top: 13px;">
                        <textarea class="form-control txt-answer" placeholder="متن زیر سوال">@item.Title</textarea>
                    </div>
                    <div class="col-lg-2 col-md-2 col-xs-2" style="padding-top:10px;padding-right: 70px;">
                        <button class="btnAdd">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </div>
                </div>
            }
            @if (Model.Count() == 0)
            {
                <div class="row row-search">
                    <div class="col-lg-9 col-md-9 col-xs-9" style="margin-top: 13px;">
                        <textarea class="form-control txt-answer" placeholder="متن زیر سوال"></textarea>
                    </div>
                    <div class="col-lg-2 col-md-2 col-xs-2" style="padding-top:10px;padding-right: 70px;">
                        <button class="btnAdd">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </div>
                </div>
            }
        </div>
        <div class="row" style="float: left;padding:7px;">
            <button class="btn btn-success" style="min-width: 70px;" id="btnInsert">
                ثبت
            </button>
        </div>
    </div>
</div>


<script>
    var newUrl= '@Url.Action("IndexQuestion","StudentEvaluation")';
    $(".btnAdd").click(function () {
        btn_add_click();
    });
    $(".fa-times").click(function () {
        var length = $('.row-search').length;
        if (length > 1) {
            $(this).closest('.row-search').remove();
        }
    });
    function btn_add_click() {
        var $template = $('<div class="row row-search"><div class="col-lg-9 col-md-9 col-xs-9" style="margin-top: 13px;"><textarea class="form-control txt-answer" placeholder="متن زیر سوال"></textarea></div>'
            + '<div class="col-lg-2 col-md-2 col-xs-2" style="padding-top:10px;padding-right: 70px;"><button class="btnAdd"><i class="fa fa-plus" aria-hidden="true"></i></button>'
            + '<i class="fa fa-times" aria-hidden="true"></i></div></div>');
        $template.find('.btnAdd').click(function () {
            btn_add_click();
        });
        $template.find('.fa-times').click(function () {
            var length = $('.row-search').length;
            if (length > 1) {
                $(this).closest('.row-search').remove();
            }
        });
        $('.container-answer').append($template);
    }

    $("#btnInsert").click(function () {
    $('.loadingWrapper').show();
        var questionId = $("#term").val();
        var answers = [];


         for (var i = 0; i < answers.length; i++) {
            if ($.trim(answers[i]) == "") {
                alert("لطفا متن زیر سوال را وارد نمایید")
                return;
            }
        }
        $(".row-search").each(function () {
            var answer = $(this).find(".txt-answer").val();
            answers.push(answer);
        });

        $.ajax({
            type: "POST",
            url: "/StudentEvaluation/InsertSubQuestion",
            data: {
                subQuestions: answers,
                questionId: $("#questionId").val(),
                termId: $("#termId").val(),
                typeId: $("#typeId").val(),
                chartId: $("#chartId").val()
            },
            success: function (e) {
                debugger;
                 $('.loadingWrapper').hide();
                window.location.href = newUrl;
            },
            Error: function () {
                console.log("error")
            }
        });
    })
</script>

